body {
  background-color: #eaeaea !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(207, 17, 31) 0%,
    rgb(236, 90, 24) 69%,
    rgb(234, 201, 24) 89%
  ) !important;
}

.ui.horizontal.segments>.segment {
  background-color: #fff;
}